{% extends 'base.html' %}

<h1> Expenses List</h1>


<ul class="list-group">

    <li class="list-group-item"> something random test </li>
      <li class="list-group-item"> lol </li>
     <li class="list-group-item"> lol </li> <li class="list-group-item"> lol </li>
     <li class="list-group-item"> lol </li>
     <li class="list-group-item"> lol </li> <li class="list-group-item"> lol </li>
     <li class="list-group-item"> lol </li>
     <li class="list-group-item"> lol </li>
     <li class="list-group-item"> lol </li>






</ul>